
<div class="content">
  <img src="http://cliparting.com/wp-content/uploads/2016/09/Clip-art-of-hamburgers-and-sandwiches.png" alt="burger picture" style="width:200px;height:150px;">

  <h2>EAT-DA-BURGA!</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-right" id="burgerList">
        <ol>
          {{#each burgers}}
            {{#unless this.devoured}}
              <form class="form-inline">
                <div class="form-group" id="burgers">
                  <li>
                    {{this.burger_name}}
                    </div> 

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" class="devourButton">Devour it!</button>
                    </form>
                  </li>
              </form>
            {{/unless}}
          {{/each}}
        </ol>
      </div>

      <div class="col-6 text-left" id="devouredList">
        <ol>
          {{#each burgers}}
            {{#if this.devoured}}
              <form class="form-inline">
                <div class="form-group" id="eatenBurgers">
                  <li>
                    {{this.burger_name}}
                    </form>
                  </li>
                </div>
              </form>
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="create-update-form" action="/" method="POST">

      <div class="form-groups">
      <input class="form-control form-control-lg" type="text" id="textBox" name="burger_name">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <h5>Enter a burger you want to eat. Click the "Submit" button.</h5>
    </form>
  </div>
</div>